.banner-img {
  position: relative;
  top: 50px;
  border-radius: 25px;
  width: 100%;
  filter: brightness(0.7);
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 300px;
    left: 30px;
  }
}

.banner {
  @include banner;
  @media screen and (max-width: 480px) {
    width: 95%;
    height: auto;
  }
}

.banner > h1 {
  position: absolute;
  left: 35%;
  bottom: 65%;
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  color: $white;
  @media screen and (max-width: 480px) {
    font-size: 48px;
    top: 30%;
    width: 500px;
  }
}
