$txtcolor: #ff6060;
$white: #ffffff;

body {
  padding: 60px 60px;
  max-width: 1600px;
  min-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  cursor: pointer;
  padding: 20px;
  font-style: normal;
  font-weight: 500;
  @media screen and (max-width: 480px) {
    width: 1150px;
  }
}
