.about {
  margin: 4rem auto;
  width: 85%;
  padding-top: 5px;
  @media screen and (max-width: 480px) {
    width: 95%;
  }
}
// .aboutB {
//   @include banner;
// }

.mont {
  margin-top: 50px;
  border-radius: 25px;
  width: 100%;
  filter: brightness(0.7);
  @media screen and (max-width: 480px) {
  }
}
.box {
  display: flex;
  background-color: $txtcolor;
  justify-content: space-between;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 40px;
  margin-bottom: 0;
  width: 1023px;
  height: 47px;

  @media screen and (max-width: 480px) {
    font-size: 13px;
    width: 335px;
    height: 30px;
  }
}
.box h2 {
  color: $white;
  font-size: 24px;
  font-weight: 500;
  width: 97px;
  height: 34px;
  position: relative;
  top: 15px;
}
.dropdown {
  transition: 330ms ease-in-out;
  width: 28.92px;
  height: 28.92px;
  @media screen and (max-width: 480px) {
    width: 18.46px;
    height: 18.42px;
  }
}

.open {
  transform: rotate(180deg);
}

.flexBetween {
  margin-bottom: 30px;
  @media screen and (max-width: 480px) {
    margin: 0;
    width: 100%;
  }
}
.info {
  background-color: $background;
  color: $txtcolor;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  line-height: 3.54rem;
  animation: slide 1.2s ease-in-out forwards;
  margin-top: 0;
  margin-left: 45px;
  width: 1023px;
  height: 146px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 3.54rem;
    width: 335px;
    height: 143.65px;
  }
}

.footer {
  top: 600px;
}
