.about {
  margin-bottom: 40px;
}
.aboutB {
  @include banner;
}
.mont {
  margin-top: 50px;
  border-radius: 25px;
  width: 100%;
  filter: brightness(0.7);
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 300px;
    left: 30px;
  }
}
.box {
  position: relative;
  background-color: $txtcolor;
  width: 1100px;
  height: 47px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 250px;
  //   transition: 2s;
}
.dropdown {
  width: 10%;
  display: flex;
  padding-right: 5px;
  left: 1050px;
  bottom: 15px;
  transition: 330ms ease-in-out;
}
.fleche {
  position: absolute;
  width: 30px;
  height: 20px;
  color: $white;
  left: 1050px;
  bottom: 15px;
}
.fleche:hover {
  transform: rotate(180deg);
}
h2 {
  font-size: 24px;
  color: $white;
  padding-top: 10px;
  padding-left: 10px;
}
.flexBetween {
  display: flex;
  flex-direction: column;
}
.info {
  position: absolute;
  background-color: $background;
  width: 1100px;
  height: 150px;
  left: 270px;
  // font-size: 24px;
  // color: $txtcolor;
}
p {
  font-size: 24px;
  color: $txtcolor;
  padding: 20px;
}
.footer {
  top: 600px;
}
