.about {
  margin: 4rem auto;
  width: 85%;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-top: 150px;
  }
}

.flexBetween {
  margin-bottom: 30px;
  .box {
    display: flex;
    background-color: $txtcolor;
    color: $white;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    h2 {
      font-size: 24px;
      font-weight: 500;
      font-size: 18px;
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }
    .dropdown {
      transition: 330ms ease-in-out;

      @media screen and (max-width: 480px) {
        width: 18.46px;
      }
    }
    .open {
      transform: rotate(180deg);
    }
  }
  .info {
    background-color: $background;
    color: $txtcolor;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    line-height: 2.14rem;
    animation: 1.2s ease-in-out forwards;
    @media screen and (max-width: 480px) {
      font-size: 12px;
      line-height: 1.07rem;
    }
  }
}
