.photo {
  height: 415px;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 255px;
    padding-top: 0;
  }
}
.imgSize {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 100%;
  }
}
.photo p {
  position: absolute;
  top: 357.67px;
  left: 607px;
  color: $white;
  font-size: 18px;
  background: none;
  @media screen and (max-width: 480px) {
    top: 85%;
    left: 50%;
    width: 10px;
  }
}
.vectorRight {
  width: 46.68px;
  height: 79.2px;
  position: absolute;
  left: 23px;
  top: 40%;
  @media screen and (max-width: 480px) {
    width: 11.67px;
    height: 19.8px;
    top: 50%;
  }
}
.vectorLeft {
  position: absolute;
  right: 23px;
  top: 40%;
  rotate: 180deg;
  @media screen and (max-width: 480px) {
    width: 11.67px;
    height: 19.8px;
    text-shadow: 1px 1px 2px black;
    top: 50%;
  }
}
