@import "./_settings.scss";

.carts {
  background: #f7f7f7;
  border-radius: 25px;
  margin-top: 150px;
  @media screen and (max-width: 480px) {
    background: none;
    margin-top: 20px;
  }
}
.normTxt {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (max-width: 480px) {
    padding: 10px;
  }
}
