@import "./_main.scss";

.table{
    position:relative;
    
    // flex-direction: row;
    // justify-content: space-between;
}
.flat{
    width :100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.normImg h2{
    position:absolute;
    left:60px;
    top: 310px;
    font-size: 18px;
    width:50%;
    @include style;
    color: $white;
}
.normImg{
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:340px;
    height:340px;
}