@import "./_main.scss";

.footer {
  position: relative;
  width: 100%;
  height: 209px;
  background: #000000;
  padding-top: 30px;
  margin-top: 20px;
}
.footlogo {
  position: absolute;
  top: 100px;
  left: 700px;
}
.footerTxt {
  @include style;
  color: $white;
  font-size: 24px;
}
