// .lodgeContainer {
//   @media screen and (max-width: 480px) {
//     margin: 10px;
//   }
// }
.line {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.lineTag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    align-items: flex-start;
  }
}
.title {
  color: $txtcolor;
  display: flex;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 25.67px;
  }
}
.loc {
  font-size: 18px;
  width: auto;
  height: 26px;
  line-height: 25.67px;
  color: $txtcolor;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
.hostRate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
  margin-top: -15%;
  height: 167px;
  justify-content: space-around;
  @media screen and (max-width: 480px) {
    flex-direction: row-reverse;
    justify-content: space-between;

    height: 60px;
    margin-bottom: 25px;
  }
}
.name {
  color: $txtcolor;
  text-align: right;
  height: 52px;
  gap: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 17.11px;
    height: 33px;
  }
}

.host {
  width: 64px;
  height: 64px;
  border-radius: 35px;
  @media screen and (max-width: 480px) {
    width: 32px;
    height: 32px;
  }
}

.content {
  width: 100%;
  height: 101px;
  display: flex;
}
.minBox {
  border-radius: 10px;
  background-color: $txtcolor;
  width: 115px;
  height: 25px;
  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  @media screen and (max-width: 480px) {
    font-size: 10px;
    line-height: 14.26px;
    width: 84px;
    height: 18px;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.stars {
  display: flex;
  img {
    @media screen and (max-width: 480px) {
      width: 15px;
      height: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    margin-top: 0px;
  }
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.divise {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.one {
  width: 90%;
  max-width: 582px;
  h2 {
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.one .info {
  font-size: 18px;
  height: 146px;
  line-height: 25.67px;
  font-weight: 400;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 17.11px;
    height: auto;
  }
}
