@import "./_settings.scss";

.nav-active {
  position: absolute;
  color: $txtcolor;
}
.home {
  position: absolute;
  right: 14%;
  bottom: 25%;
  font-size: 24px;
  display: flex;
  color: $txtcolor;
  border-bottom: 2px solid white;

  &:hover {
    border-bottom: 2px solid $txtcolor;
  }
  @media screen and (max-width: 480px) {
    font-size: 38px;
  }
}

.navigation {
  position: absolute;
  left: 70%;
  width: 280px;
  @media screen and (max-width: 480px) {
    left: 180%;
  }
}
.header {
  width: 100%;
  height: 68px;
  @media screen and (max-width: 480px) {
    margin: 30px;
  }
}
.header > img {
  width: 212px;
  height: 68px;
  top: 30px;
  margin-top: 30px;
  position: relative;
  @media screen and (max-width: 480px) {
    width: 145px;
    height: 47px;
  }
}
