.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $txtcolor;
  margin: 22px 6%;
}
.number {
  font-size: 288px;
  line-height: 410.69px;
  font-weight: 700;
  margin: 0;
  @media screen and (max-width: 480px) {
    font-size: 96px;
    line-height: 137px;
    margin: 12rem 0 1rem 0;
  }
}
.errTxt {
  font-size: 36px;
  line-height: 51.34px;
  color: $txtcolor;
  text-align: center;
  height: 51px;
  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 142.6%;
    text-align: center;
    margin: 0 9%;
    font-weight: 500;
  }
}

.link {
  color: $txtcolor;
  font-size: 18px;
  line-height: 25.67px;
  font-weight: 500;
  margin-top: 182px;
  border-bottom: 1.9px solid $txtcolor;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 20px;
    width: 220px;
  }
}
span {
  display: inline;
  @media screen and (max-width: 480px) {
    display: flex;
  }
}
